* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgb(255, 175, 228);
    background: linear-gradient(
        0deg,
        rgb(235, 7, 182) 0%,
        rgb(214, 31, 187) 35%,
        rgb(227, 101, 210) 69%,
        rgb(248, 190, 250) 100%
  );
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.prez-aly {
    width: 50vw;
    display: flex;
    flex-direction: column;
    margin: auto;
}

/* Introduction Alyssia */

.intro__aly {
    display: flex;
}

.description__aly {
    margin: auto;
    margin-left: 16px;
    padding: 4px;
    border-radius: 4px;

    border: solid rgb(255, 0, 221);
    background-color: rgb(255, 230, 250);
}

/*profil Aly*/

.profil {
    text-align: center;
}

.profil p {
    font-style: italic;
}

.profil img {
    border-radius: 10%;
}

/* Présentation Aly */

.presentation__aly {
    text-align: center;
}

.presentation__aly img {
    width: 350px;
    border-radius: 10%;

    margin-top: 32px;
}

.nourriture {
    padding: 4px;
    border-radius: 4px;

    border: solid rgb(255, 0, 221);
    background-color: rgb(255, 230, 250); 
}
.anecdotes {
    padding: 4px;
    border-radius: 4px;

    border: solid rgb(255, 0, 221);
    background-color: rgb(255, 230, 250);
}

/* Footer */

footer {
    text-align: center;
    font-style: italic;
    color: aquamarine;
}

@media screen and (max-width: 800px) {
    .intro__aly {
        display: flex;
        flex-direction: column;
    }

    .presentation__aly img {
        width: 200px;
    }
}